* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  min-height: 100vh;
  color: #252525;
}

header,
main,
footer {
  /* border: 1px solid #252525;
  border-radius: 5px; */
  width: 90vw;
  margin: 10px auto;
  padding: 10px;
}

ol {
  margin-left: 18px;
}

a {
  text-decoration: none;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header: Dark/Light Mode */
/* .switch-box {
  visibility: visible;
}
 */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 24px;
  background-color: #252525;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:checked + .slider::before {
  transform: translateX(16px);
  background-color: #252525;
}

nav {
  height: 24px;
}

.icon {
  height: 24px;
}

.logo {
  font-size: 25px;
  font-weight: 900;
}

/* Main Element */
.intro {
  font-size: 20px;
  margin: 25px 0;
}

.workstatus {
  background-color: rgb(41, 233, 83, 0.8);
  border-radius: 5px;
  font-size: 20px;
  margin: 25px auto;
  padding: 10px;
  width: 90%;
  color: #252525;
  text-align: center;
  box-shadow: 4px 6px 10px -1px #e0dede;
  transition: 0.4s;
}

.workstatus:hover {
  transform: translateY(-2px);
  background-color: rgb(41, 233, 83);
}

.skills,
.learnings,
.blog,
.projects {
  margin: 25px 0;
}

.blog-link {
  display: block;
  font-size: 20px;
  text-decoration: underline;
  color: rgb(41, 233, 83);
}

/* Projects */
.projects-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-gap: 15px;
}

.project {
  border: 1px solid rgb(41, 233, 83);
  border-radius: 5px;
  padding: 20px;
  height: 231px;
  cursor: pointer;
  box-shadow: 3px 3px 5px -1px #e0dede, -3px -3px 5px -1px #e0dede;
  color: #252525;
}

.project:hover {
  box-shadow: 3px 3px 1px -1px rgb(41, 233, 83),
    -3px -3px 1px -1px rgb(41, 233, 83);
}

.date {
  display: inline-block;
  font-size: 12px;
  color: #616161;
  margin: 10px 0;
}

.project-tech {
  display: flex;
  list-style: none;
  margin-top: 10px;
  color: #616161;
}

.project-tech li {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}

/* Footer */
footer {
  text-align: center;
}

button {
  background-color: rgb(41, 233, 83, 0.8);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  box-shadow: 4px 6px 10px -1px #e0dede;
  transition: 0.4s;
}

button a {
  color: #252525;
}

button:hover {
  transform: translateY(-2px);
  background-color: rgb(41, 233, 83);
}

.creator,
.copyright {
  text-align: center;
  margin-top: 10px;
}

@media screen and (min-width: 945px) {
  header,
  main,
  footer {
    width: 50vw;
    padding: 20px;
  }

  .intro {
    font-size: 30px;
  }

  .projects-container {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .project {
    border: 1px solid rgb(41, 233, 83);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px -1px #e0dede, -3px -3px 5px -1px #e0dede;
    color: #252525;
  }
}
