@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-black: rgb(1, 4, 12);
  --color-white: rgb(255, 255, 255);
  --color-grey-1: rgb(102, 102, 102);
  --color-grey-2: rgb(100, 116, 139);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
}

header,
main,
footer {
  max-width: 750px;
  margin: 10px auto;
  padding: 10px;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 18px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 24px;
}

.icon {
  height: 24px;
}

.logo {
  font-size: 25px;
  font-weight: 900;
}

/* Main Element */
.intro {
  font-size: 16px;
  margin: 45px 0;
}

.skills,
.learnings,
.blog,
.projects {
  margin: 45px 0;
}

.skill-list {
  line-height: 2;
}

.skill-list > h3 {
  display: inline;
}

.blog-link {
  text-decoration: underline;
}

/* Projects */
.projects-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.2rem;
}

.project {
  border: 1px solid #64748b;
  border-radius: 12px;
  padding: 40px 20px 30px 20px;
  cursor: pointer;
  transition: all 0.25s;
  color: var(--color-white);
}

.project > a > h3 {
  font-size: 18px;
}

.project:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
}

.project:hover > a > h3,
.project:hover .project-description {
  color: var(--color-white);
}

.date {
  display: inline-block;
  font-size: 12px;
  color: var(--color-grey-2);
  margin: 10px 0;
}

.project-description {
  margin-top: 20px;
}

.project-tech {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.project-tech li {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
  color: var(--color-grey-2);
}

/* Footer */
footer {
  text-align: center;
}

button {
  background-color: var(--color-black);
  border-radius: 5px;
  border: none;
  color: var(--color-black);
  font-size: 16px;
  margin: 0 auto;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.25s;
}

button a {
  color: var(--color-white);
}

button:hover {
  transform: scale(1.1);
}

.creator {
  text-align: center;
  margin-top: 30px;
}

.copyright {
  text-align: center;
  margin-top: 10px;
}
