@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-black: 1, 4, 12;
  --color-white: 255, 255, 255;
  --color-grey-1: 102, 102, 102;
  --color-grey-2: 100, 116, 139;
  --color-green: 53, 180, 96;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(var(--color-black));
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
}

header,
main,
footer {
  max-width: 700px;
  margin: 10px auto;
  padding: 15px;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 18px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 24px;
}

.icon {
  height: 24px;
}

.logo {
  font-size: 25px;
  font-weight: 900;
}

/* Main Element */
.intro {
  font-size: 16px;
  margin: 45px 0;
}

.skills,
.learnings,
.blog,
.projects {
  margin: 45px 0;
}

.skill-list {
  line-height: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  margin-top: 5px;
}

@media screen and (min-width: 576px) {
  .skill-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.skill-list > h3 {
  display: inline;
}

.skill {
  padding-block: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.skill > svg {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(var(--color-black), 0.1);
  box-shadow: 0px 0px 1px 0px rgba(var(--color-black), 0.1);
}

.skill-name {
  margin-left: 10px;
}

.blog-link {
  text-decoration: underline;
}

/* Projects */
.projects {
  max-width: inherit;
}

.projects-container {
  max-width: inherit;
  margin-top: 10px;
  display: grid;
  grid-gap: 1.2rem;
}


@media screen and (min-width: 576px) {
  .projects-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.project {
  border: 1px solid rgba(var(--color-grey-2));
  border-radius: 12px;
  padding: 40px 20px 30px 20px;
  cursor: pointer;
  transition: all 0.25s;
  color: rgb(var(--color-white));
}

.project > a > h3 {
  font-size: 18px;
}

.project:hover {
  background-color: rgb(var(--color-black));
  border-color: rgb(var(--color-black));
}

.project:hover > a > h3,
.project:hover .project-description {
  color: rgb(var(--color-white));
}

.date {
  display: inline-block;
  font-size: 12px;
  color: rgb(var(--color-grey-2));
  margin: 10px 0;
}

.project-description {
  margin-top: 20px;
}

.project-tech {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.project-tech li {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
  color: rgb(var(--color-grey-2));
}

/* Footer */
footer {
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link {
  background-color: rgb(var(--color-black));
  color: rgb(var(--color-white));
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.creator {
  text-align: center;
  margin-top: 30px;
}